<h2>Workout History</h2>

<div>

  {{#each workouts}}

    <h3>
      
      <span>
        <u>
        {{name}}
        -
        {{formatDate completedAt}}
        </u>
      </span>
    </h3>

    {{#each exercises}}
      <h4>{{add 1 @index}}
        -
        {{name}}</h4>
      <ul>
{{#each sets}}
        <li>
          {{reps}}
          X
          {{weight}} lbs
        </li>

      {{/each}}

      </ul>
      

    {{/each}}
  {{/each}}
</div>